############################
# Go
############################
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof
cover.out
coverage.out
go.work
go.work.sum
vendor/
bin/

############################
# Node / npm
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
.npmrc
.pnp.*
.cache/
dist/
!server/web/dist/
!server/web/dist/index.html
build/
out/
.parcel-cache/
.next/
.nuxt/
.svelte-kit/
*.tsbuildinfo

############################
# PocketBase
############################
pb_data/
pb_migrations/
pocketbase
pocketbase.exe
*.pb
